<div class="view_container">
  <div class="log_container">
  <%= messier_card(@messier_id, @info, :add) %>
  <form class="log_entry" action="/add/<%= @messier_id %>" method=post>
    <label for="log_entry">Observation Log:</label>
    <div>
      <textarea name="log_entry" rows="20" cols="93"><%= params[:log_entry] %></textarea>
    </div>
    <button type="submit">Save Log</button>
  </form>
  <a href="/">Cancel</a>
  </div>
  <div class="aladin_container">
    <div id="aladin-lite-div" style="width: 500px;height: 500px;"></div>
  </div>
  <script>
    var aladin = A.aladin('#aladin-lite-div', {target: '<%= "M " + @messier_id[1..-1] %>', fov: 0.25});
  </script>
  </div>
</div>